<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <div class="header-title">
        <ion-icon name="wallet" class="header-icon"></ion-icon>
        <span>Finances</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-content>
      <h2>Module Finances</h2>
      <p>Cette section sera développée prochainement pour inclure :</p>
      <ul>
        <li>Facturation automatisée</li>
        <li>Suivi des paiements</li>
        <li>Rapports financiers</li>
        <li>Historique des commissions</li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>